
body
{
text-align:center;
}
h1
{
color:Black;
font-size:40px;
background-color:#bbbbe6;
margin-left:20%;
margin-right:20%;
}
p
{
color:red;
font-family:"Arial";
font-size:16px;
}

#phone {
width:275px;
height:539px;
position: absolute;
left: 50%;
top: 50%; 
margin-left: -150px;
margin-top: -150px;  
    z-index: 1;
}

/*
The screen image is positioned and scaled, at a fixed location relative to the phone image due to the actual positioning and dimensions of the iPhone screen. x,y: 27, 98 w,h: 227, 343
*/
#screen{
position:absolute;
left:26px;
top:98px;
z-index: 2;
}

#screenImage{
width:227px;
height:343px;
}

/* Login Screen buttons and fields */
#userNameField{
position:absolute;
width:80px;
height:18px;
left:108px;
top:123px;
z-index: 3;
color:gray;
}

#passwordField{
position:absolute;
width:80px;
height:18px;
left:104px;
top:187px;
z-index: 3;
color:gray;
}

/*Original screen image size = 227, 343.  So transformation of coords = 227/312, 343/476 = 0.7276, 0.7206.  This was used to create the coordinate of the top-left of the invisible button. */
#loginButton{ position:absolute; z-index: 3; left:139px; top:248px; }
#registerButton{ position:absolute; z-index: 3; left:135px; top:305px; }
#exitButton{ position:absolute; z-index: 3; left:25px; top:300px; }



